@import "vendor/bootstrap/_bootstrap.scss";
@import "vendor/hint/hint.scss";
@import "_variables.scss";
@import "_container.scss";
@import "_footer.scss";
@import "_nav.scss";
@import "_404.scss";
@import "_icons.scss";
@import "_util.scss";
@import "_login.scss";

html,body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
