@import "_icons.scss";
@import "_variables.scss";
@import "_login.scss";
@import "vendor/bootstrap/_bootstrap.scss";
@import "vendor/hint/hint.scss";
@import "_util.scss";

html,body{
    height: 100%;
    width: 100%;
}

.brand-icon, .users-icon, .events-icon {
	margin-right: 5px;
	font-size: 18px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;

	.text-muted {
		margin: 20px 0;
		text-align: center;
	}
}