<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h3>Listado de usuarios</h3>
		</div>
		<div class="col-sm-6 col-md-6">
	        <form class="navbar-form search-box" role="search">
	            <div class="input-group">
	                <input type="text" class="form-control" placeholder="Buscar" name="q">
	                <div class="input-group-btn">
	                    <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
    <div class="row">
    	<div class="col-sm-12 col-md-12">
    			 <table class="table table-hover table-condensed">
				    <thead>
				        <tr>
				            <th>Nombre</th>
				            <th>Télefono</th>
				            <th class="hidden-xs">Correo</th>
				            <th class="hidden-xs hidden-sm">Último acceso</th>
				        </tr>
				    </thead>
			        <tbody class="user-list">
			        </tbody>
			    </table>
    	</div>
    </div>
</div>